html {
    font-family: monospace;
}

h1, #guessDisplay {
    text-align: center;
}

#gameTables, #newGame {
    display: flex;
    justify-content: center;
}

#guess {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

#guess p {
    font-weight: bold;
}

#guess div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
}

table {
    border: 2px solid black;
    font-size: 18px;
    margin: 8px;
}

table tr:nth-child(2n + 1) *:nth-child(2n + 1) {
    background: #cccccc;
}

table tr:nth-child(2n + 1) *, table tr *:nth-child(2n + 1) {
    background: #dcdcdc;
}

table td, table th {
    padding: 4px;
}